[Desktop Entry]
Version=1.0
Name=uTouch Tweak
Exec=qmlscene $@ Main.qml
Icon=utouch-tweak.png
Terminal=false
Type=Application
X-Ubuntu-Touch=true
Name[zh_CN]=uTouch 优化工具
Name[zh_TW]=uTouch 優化工具
